<section class="p-wrapper">
    <app-homeheadnav> </app-homeheadnav>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="p-profile">
  
  
              <div class="col-sm-7">
                <span class="p-tag">ABOUT US</span>
                <h1 class="mt-2" style="margin-left: 250px;">AI Companion</h1>
                <p class="p-des mt-3">
                    Welfare AI is a dynamic digital platform designed to streamline the dissemination of information about government schemes in India. Utilizing advanced AI technology, Welfare AI offers personalized guidance to citizens seeking to understand and leverage various government initiatives. 
                </p>
                <a class="arr">Read More</a>
  
              </div>
  
  
            </div>
            <!-- <div class="col-sm-7"></div> -->
  
          </div>
        </div>
      </div>
    </section>
  </section>